@import 'tailwindcss';
@tailwind utilities;
@plugin 'tailwind-scrollbar';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: rgba(255, 255, 255, 0.11);
  }
  :root {
    --ui-scale: 1;
    --nav-scale: 1;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  #root {
    transform-origin: top left;
  }

  @media (max-width: 1500px) {
    :root {
      --ui-scale: 0.96;
    }
  }

  @media (max-width: 1320px) {
    :root {
      --ui-scale: 0.92;
    }
  }

  @media (max-width: 1160px) {
    :root {
      --ui-scale: 0.88;
    }
  }

  @media (max-width: 1024px) {
    :root {
      --ui-scale: 0.84;
    }
  }

  @media (max-width: 900px) {
    :root {
      --ui-scale: 0.8;
    }
  }

  @media (max-width: 780px) {
    :root {
      --ui-scale: 0.76;
    }
  }

  @media (max-width: 680px) {
    :root {
      --ui-scale: 0.72;
    }
  }

  @media (max-width: 1500px) {
    #root {
      width: calc(100% / var(--ui-scale));
      min-height: calc(100% / var(--ui-scale));
      transform: scale(var(--ui-scale));
    }
  }
}
